.article__container {
    width: 480px;
    min-height: calc(100vh - 184px);
    margin: 104px auto 104px auto;
}

.article__img {
    width: 100%;
    min-height: 180px;
    margin-bottom: 32px;
    display: block;
}       

.article__img img {
    object-fit: contain;
}

.article__date {
    margin-bottom: 8px;
    color: var(--text);
}

.article__date span {
    font-size: 24px;
    /* line-height: 34px; */
    font-weight: bold;
}

.article__wrapper {
    padding: 0 20px ;
}

.article {
    padding: 24px 0;
}

.article__wrapper.border .article {
    border-bottom: 1px solid var(--articleBorder);
}

.article__wrapper.article__wrapper.border:last-of-type .article {
    border-bottom: none;
}

.article__wrapper.noborder {
    margin-bottom: 16px;
}

.article__header {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article__tag {
    cursor: pointer;
}

.article__header span {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-grey);
}
.article__content .article__title a {
    font-size: 18px;
    line-height: 25px;
    color: var(--text);
    text-decoration: none;
    letter-spacing: -0.04rem;
}

.article__content .article__title a:hover {
    border-bottom: 1.5px solid;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .article__container {
        margin-top: 174px;
    }
}

@media (max-width: 510px) {
    .article__wrapper {
        padding: 0 15px;
    }

    .article {
        padding: 16px 0;
    }

    .article__container {
        width: 100%;
        margin-bottom: 120px;
    }

    .article__img {
        min-height: 37.5vw;
        margin-bottom: 16px;
    }

    .article__date span {
        font-size: 20px;
        line-height: 28px;
    }

    .article__content .article__title a {
        font-size: 16px;
        line-height: 20px;
    }

}
