@import '../../assets/styles/GlobalStyles.css';

.overlay {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay);
    z-index: 20;
}

.article {
    width: 640px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -640px;
    background-color: var(--articleBg);
    z-index: 30;
    overflow-y: auto;
    transition: .4s ease-in-out;
}

.article.active {
    right: 0;
    transition: .4s ease-in-out;
}

.article::-webkit-scrollbar {
    width: 6px;
}

.article::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 3px;
}

.article .close__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    color: var(--text);
}

.article__container {
    width: 480px;
    margin: 80px auto;
}

.article__header {
    padding: 0 20px;
    margin-bottom: 24px;
}

.article__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
    color: var(--text);
}

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__bottom span {
    color: var(--text-grey);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.header__bottom .tag {
    color: var(--articleTag);
}

.header__bottom .right {
    display: flex;
    align-items: center;
}

.header__bottom .read__time {
    margin-right: 24px;
}

.header__bottom .create__time {
    display: flex;
    align-items: center;
}

.header__bottom .create__time::after {
    content: "";
    width: 4px;
    height: 4px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--text-grey);
}

.article__content .article__img {
    width: 100%;
    min-height: 80px;
    margin-bottom: 24px;
    /* background-color: var(--text-grey); */
    object-position: center;
}

.article__content .article__img img {
    object-fit: cover;
}

.article__content .article__img figcaption {
    font-size: 12px;
    color: #979797;
    text-align: center;
}

.article__text {
    padding: 0 20px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.32px;
    color: var(--text);
}

@media (max-width: 768px) {
    .article {
        width: 100%;
    }
}

@media (max-width: 510px) {
    .article__container {
        width: 100%;
        padding: 0 15px;
    }

    .article__header,
    .article__text {
        padding: 0;
    }

    .article__title {
        font-size: 20px;
    }

    .article__content .article__img {
        width: 100%;
    }

}