@import '../../assets/styles/GlobalStyles.css';

.overlay {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay);
    z-index: 25;
}

.article {
    width: 640px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -640px;
    background-color: var(--articleBg);
    z-index: 30;
    overflow-y: auto;
    transition: .4s ease-in-out;
}

.article.active {
    right: 0;
    transition: .4s ease-in-out;
}

.article::-webkit-scrollbar {
    width: 6px;
}

.article::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 3px;
}

.article .close__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    color: var(--text);
}

.article__container {
    width: 480px;
    margin: 80px auto;
}

.article__header {
    padding: 0 20px;
    margin-bottom: 24px;
}

.article__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.4;
    font-weight: var(--semiBold);
    color: var(--text);
}

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__bottom span {
    color: var(--text-grey);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.header__bottom .tag {
    color: var(--articleTag);
}

.header__bottom .right {
    display: flex;
    align-items: center;
}

.header__bottom .read__time {
    margin-right: 24px;
}

.header__bottom .create__time {
    display: flex;
    align-items: center;
}

.header__bottom .create__time::after {
    content: "";
    width: 4px;
    height: 4px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--text-grey);
}

.article__content .article__img {
    width: 100%;
    min-height: 80px;
    margin-bottom: 24px;
    object-position: center;
}

.article__content .article__img img {
    object-fit: cover;
}

.article__content .article__img figcaption {
    font-size: 12px;
    color: #979797;
    text-align: center;
}

.article__text {
    padding: 0 20px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.4;
    color: var(--text);
}

.article__footer {
    padding: 20px;
}

.nf__wrapper {
    width: 100%;
    text-align: center;
    color: var(--text);
}

.nf__code {
    font-size: 96px;
    line-height: 1.4;
}

.nf__content {
    margin-bottom: 24px;
}

.header1,
.header2,
.loader__tag,
.read,
.date,
.loader__img,
.loader__content {
    background-color: #ecebeb;
    min-height: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    animation: loader__animation 2s ease-in infinite;
}

.loader__wrapper {
    max-width: 480px;
    width: 100%;
    margin: 80px auto;
}

.loader__header .top {
    margin-bottom: 16px;
}

.loader__header {
    padding: 0 20px;
    margin-bottom: 24px;
}

.loader__header .header1 {
    height: 24px;
}

.loader__header .header2 {
    width: 70%;
    height: 24px;
}

.loader__header .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.loader__header .tag {
    width: 33%;
}

.loader__header .right {
    width: 50%;
    display: flex;
}

.loader__header .read {
    width: 40%;
    margin-right: 10px;
}

.loader__header .date {
    width: 50%;
}

.loader__img {

    height: 180px;
    margin-bottom: 30px;
}

.loader__content {
    height: 12px;
    margin: 12px 20px;
}

@keyframes loader__animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .article {
        width: 100%;
    }
}

@media (max-width: 510px) {
    .article__container {
        width: 100%;
        padding: 0 15px;
    }

    .article__header,
    .article__text {
        padding: 0;
    }

    .header__bottom span {
        font-size: 12px;
    }

    .header__bottom .read__time {
        margin-right: 16px;
    }

    .article__title {
        font-size: 20px;
    }

    .article__content .article__img {
        width: 100%;
    }

    .article__footer {
        padding: 20px 0;
    }
}