@import '../../assets/styles/GlobalStyles.css';

.header {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}

.header__container {
    width: 100%;
    max-width: 1920px;
    height: 92px;
    padding: 40px 40px 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--articleBg);
}

.header__logo {
    width: 128px;
    display: block;
    cursor: pointer;
}

.header__right {
    display: flex;
}

.header__menu {
    margin-right: 38px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header__item {
    margin: 0 10px;
}

.header__link {
    font-size: 14px;
    font-weight: var(--semiBold);
    text-decoration: none;
    color: var(--text);
    letter-spacing: -0.01rem;
}

.color__changer {
    width: 74px;
    height: 40px;
    display: inline-block;
    position: relative;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    background-color: var(--colorChanger);
    cursor: pointer;
}

.color__changer .bg {
    width: 28px;
    height: 28px;
    margin-top: 6px;
    margin-left: 40px;
    display: inline-block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--colorChangerBg);
    transition: .3s ease-in-out;
    z-index: 10;
}

.color__changer .icon {
    width: 16px;
    height: 16px;
    z-index: 20;
    margin-top: 12px;
    position: absolute;
    color: var(--colorChangerBg);
    transition: .3s linear;
}

.color__changer .sun {
    margin-left: 12px;
}

.color__changer .moon {
    margin-left: 46px;
}

.color__changer .active {
    color: var(--colorChanger);
    transition: .3s linear;
}

.color__changer input:checked + .bg {
    margin-left: 6px;
    transition: .3s ease-in-out;
}


@media (max-width: 560px) {
    .header {
        max-width: 480px;
        border-right: 5px solid var(--articleBg);
    }   
    
    .header__container {
        width: 100%;
        max-width: 480px;
        padding: 40px 0 12px 0;
        position: absolute;
    }
}

@media (max-width: 510px) {
    .header__logo {
        width: 100px;
    }

    .header__menu {
        margin-right: 10px;
    }

    .header__item {
        margin: 0 5px;
    }

    .color__changer {
        width: 40px;
    }

    .color__changer .bg {
        margin-left: 6px;
    }

    .color__changer input:checked + .bg + .sun + .moon {
        display: none;
    }

    .color__changer .moon {
        margin-left: 12px;
    }
}
