@import "../../assets/styles/GlobalStyles.css";

.error__wrapper {
    min-height: calc(100vh - 92px);
    margin-top: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error__container {
    max-width: 1100px;
    padding: 0 15px;
}

.error__code {
    margin-bottom: 80px;
    text-align: center;
}

.error__code span {
    font-weight: bold;
    font-size: 72px;
    color: var(--text);
}