@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*, *::after, *::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Inter', sans-serif;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
}

input, textarea {
    width: 100%;
    padding: 10px 12px;
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 600;
    caret-color: aqua;
    border: 2px solid var(--text-dark);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

img, svg {
    width: 100%;
}

:root {
    --text-dark: #000000;
    --text-grey: #898989;
    --bg-light: #FFFFFF;
}
