@import '../../assets/styles/GlobalStyles.css';

.nf__wrapper {
    margin-top: 92px;
    height: calc(100vh - 190px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nf__container {
    max-width: 280px;
}

.nf__img {
    width: 128px;
    margin: 0 auto 40px auto;
}

.nf__text {
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: bold;
    color: var(--text);
    text-align: center;
}
